<div class="home-style">
  <nav>
    <p>Restro</p>
    <div>
      <button class="settingbtn" routerLink="/itemPage" type="submit">
        SETTING
      </button>
    </div>
  </nav>
</div>
<div class="button-style">
  <br /><br />
  <button class="orderbtn" routerLink="/itemPage" type="submit">
    ORDER NOW</button
  ><br /><br />
  <button class="loginbtn" routerLink="/login" type="submit">LOGIN</button>
</div>
<div class="footer">
  <div class="box-container">
    <div class="box">
      <h3>About Us</h3>
      <p>
        Hey we are here to bring you most delicious food you were craving for
        the entire day.
      </p>
    </div>
    <div class="box">
      <h3>Location</h3>
      <a href="#">Delhi</a>
      <a href="#">Mumbai</a>
      <a href="#">Kolkata</a>
      <a href="#">Chennai</a>
    </div>
    <div class="box">
      <h3>Follow Us</h3>
      <a href="#">Facebook</a>
      <a href="#">Twitter</a>
      <a href="#">Instagram</a>
      <a href="#">Youtube</a>
    </div>
  </div>
</div>
