//Background Color
.bgs {
  width: 100%;
  height: auto;
  background: url("../../../../assets/images/signup/sign.jpg");
  background-size: 100%;
}

//Form Style
.form-style {
  max-width: 40%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin-left: 30%;
}
.form-style h1 {
  color: #f3f3f3;
  font-size: xx-large;
  padding-left: 10px;
  text-shadow: 1px 1px red;
}
.form-style label {
  display: block;
  margin-bottom: 5px;
  padding-left: 10px;
  color: white;
  text-shadow: 1px 1px red;
  font-size: large;
  font-weight: bolder;
}

//Register Button
.form-style button {
  cursor: pointer;
  color: white;
  background-color: red;
  font-weight: bolder;
  border: 0px;
  border-radius: 10px;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 45%;
  padding-right: 45%;
  width: 100%;
  font-size: large;
}

.text-area {
  line-height: 20px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 14px;
  outline: none;
  border-radius: 10px;
  border: 1px solid black;
}
.text-area:focus {
  border: red;
  box-shadow: 0 0 10px red;
}
