.form-style {
  max-width: 40%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin-left: 30%;
  background: url("../../../../assets/images/foget/foget.jpg");
}
.form-style h1 {
  color: #f3f3f3;
  padding-left: 10px;
  font-size: large;
  text-align: center;
  padding-bottom: 30px;
}
.form-style label {
  display: block;
  margin-bottom: 5px;
  padding-left: 10px;
  color: #f6faf8;
  font-size: medium;
}
.form-style button {
  cursor: pointer;
  color: #f7f8f8;
  background-color: red;
  border: 0px;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 25%;
  padding-right: 25%;
  width: 100%;
  font-size: large;
}
