.form-style {
  max-width: 40%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin-left: 30%;
  background: url("../../../../assets/images/newpass/newpassword.jpg");
}
.form-style h1 {
  color: #f3f3f3;
  padding-left: 10px;
  padding-bottom: 30px;
  font-size: x-large;
  text-align: center;
}
.form-style label {
  display: block;
  margin-bottom: 5px;
  padding-left: 10px;
  color: #f6faf8;
  font-size: medium;
}
.form-style button {
  cursor: pointer;
  color: #f7f8f8;
  background-color: red;
  border: 0px;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 45%;
  padding-right: 45%;
  width: 100%;
  font-size: large;
  font-weight: bold;
}
