<div class="form-style">
  <h1>Hii {{email}} please reset your password</h1>
  <form [formGroup]="newPass" (ngSubmit)="onClickSubmit(newPass)">
    <label>
      Enter New password: <br />
      <input
        type="password"
        name="New password"
        placeholder="New Password"
        formControlName="newPass"
      />
    </label>
    <label
      ><br />
      <p></p>
      Confirm new password: <br />
      <input
        type="password"
        name="Confirm new password "
        placeholder="Confirm Password"
        formControlName="cnfNewPass"
      /> </label
    ><br /><br />
    <div id="newPassErr" *ngIf="passErr"  style="color: rgb(240, 248, 255); font-size: 41px !important;" >Required same password in both field!</div>
    <button type="submit">Reset</button>
  </form>
</div>
