<!-- <div class="check-style">
  <div>
    <p>Item1</p>
    <img
      src="../../../../assets/images/items/pizza.jpg"
      alt="Image"
      style="height: auto; width: 200px"
    />
    <ul>
      <li>Item Name</li>
      <li>Price</li>
      <li>Quantity</li>
    </ul>
    <div>
      <button class="removebtn" type="submit">Remove</button>
      <br /><br />
      <button class="removebtn" type="submit">Wishlist</button>
    </div>
  </div>
  <div>
    <p>Item2</p>
    <img
      src="../../../../assets/images/items/Chicken.jpg"
      alt="Image"
      style="height: auto; width: 200px"
    />
    <ul>
      <li>Item Name</li>
      <li>Price</li>
      <li>Quantity</li>
    </ul>
    <div>
      <button class="removebtn" type="submit">Remove</button>
      <br />
      <br />
      <button class="removebtn" type="submit">Wishlist</button>
    </div>
  </div>
  <div>
    <br /><br />
    <button class="couponbtn" type="submit">Coupon</button>
  </div>
</div> -->
<div class="outerContainer">
  <div class="login-style">

<nav class="navbar">
  <div>
    Restro 
  </div>
</nav>
<div class="container">
  <ng-container *ngFor = "let item of data">
      <div class="card" style="width: 25rem">
          <img
            class="noodles"
            src="../../../../assets/images/items/Noodle.jpg"
            alt="Noodles"
            style="height: auto; width: 200px"
          />
          <div>Item No: {{item.no}}</div>
          <div>Item Name: {{item.name}}</div>
          <div>Item Cost: {{item.cost}}</div>
          <div>Item count: {{item.count}}</div>
          Veg/NonVeg
          <br />
        </div>
  </ng-container>
</div>
<div class="order-style">
  <h2>Order Summary</h2>
  <p>Total MRP: {{totalMrp}}</p>
  <p>Discount on MRP: {{discountPer}}% of {{totalMrp}} = {{discountAmt}}</p>
  <p>Coupon Discount: {{couponDiscount}}</p>
  <h3>Total Amount: {{amount}}</h3>
  <br />
  <br />
  <button type="submit" (click)="submit()">
    PLACE ORDER
  </button>
</div>
</div>
</div>