<!-- <link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
  crossorigin="anonymous"
/>

<div class="login-style">
  <nav class="navbar">
    <div>
      Restro
      <input
        class="from-search"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="searchbtn" type="submit">Search</button>
      <button class="filterbtn" type="submit">Filter</button>
      <button class="myProfilebtn" type="submit">My Profile</button>
    </div>
  </nav>
   < Items Card -->
  <!-- <div class="container">
    <div class="row">
      <div class="card" style="width: 25rem">
        <img
          class="noodles"
          src="../../../../assets/images/items/Noodle.jpg"
          alt="Noodles"
          style="height: auto; width: 200px"
        />
        <h4><b>Noodles</b></h4>
        <p>Price:</p>
        <p>Rating</p>
        <label class="switch">
          <input type="checkbox" />
          <span class="slider round"></span>
        </label>
        <button class="addbtn" routerLink="/checkout" type="submit">ADD</button>
        <br />
        <br />
      </div>

      <div class="card" style="width: 25rem">
        <img
          class="pizza"
          src="../../../../assets/images/items/pizza.jpg"
          alt="Noodles"
          style="height: auto; width: 200px"
        />
        <h4><b>Pizza</b></h4>
        <p>Price:</p>
        <p>Rating</p>
        <label class="switch">
          <input type="checkbox" />
          <span class="slider round"></span>
        </label>
        <button class="addbtn" routerLink="/checkout" type="submit">ADD</button>
        <br />
        <br />
      </div>

      <div class="card" style="width: 25rem">
        <img
          class="pizza"
          src="../../../../assets/images/items/Chicken.jpg"
          alt="Noodles"
          style="height: auto; width: 200px"
        />
        <h4><b>Chicken Pakora</b></h4>
        <p>Price:</p>
        <p>Rating</p>
        <label class="switch">
          <input type="checkbox" />
          <span class="slider round"></span>
        </label>
        <button class="addbtn" routerLink="/checkout" type="submit">ADD</button>
        <br />
        <br />
      </div>

      <div class="card" style="width: 25rem">
        <img
          class="pizza"
          src="../../../../assets/images/items/Biryani.png"
          alt="Noodles"
          style="height: auto; width: 200px"
        />
        <h4><b>Biryani</b></h4>
        <p>Price:</p>
        <p>Rating</p>
        <label class="switch">
          <input type="checkbox" />
          <span class="slider round"></span>
        </label>
        <button class="addbtn" routerLink="/checkout" type="submit">ADD</button>
        <br />
        <br />
      </div>

      <div class="card" style="width: 25rem">
        <img
          class="pizza"
          src="../../../../assets/images/items/Salad.webp"
          alt="Noodles"
          style="height: auto; width: 200px"
        />
        <h4><b>Salad</b></h4>
        <p>Price:</p>
        <p>Rating</p>
        <label class="switch">
          <input type="checkbox" />
          <span class="slider round"></span>
        </label>
        <button class="addbtn" routerLink="/checkout" type="submit">ADD</button>
        <br />
        <br />
      </div>

      <div class="card" style="width: 25rem">
        <img
          class="pizza"
          src="../../../../assets/images/items/Juice.jpg"
          alt="Noodles"
          style="height: auto; width: 200px"
        />
        <h4><b>Juice</b></h4>
        <p>Price:</p>
        <p>Rating</p>
        <label class="switch">
          <input type="checkbox" />
          <span class="slider round"></span>
        </label>
        <button class="addbtn" routerLink="/checkout" type="submit">ADD</button>
        <br />
        <br />
      </div>
    </div>
  </div>

  Checkout Button -->
  <!-- <div>
    <br /><br />
    <button class="checkoutbtn" routerLink="/checkout" type="submit">
      CHECKOUT BAG
    </button>
  </div>
</div> --> 


















<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
  crossorigin="anonymous"
/>
<div class="outerContainer">
    <div class="login-style">
        <nav class="navbar">
            <div>
              Restro 
              <input
                class="from-search"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button class="searchbtn" type="submit">Search</button>
              <button class="filterbtn" type="submit">Filter</button>
            </div>
          </nav>
        <div class="container">
            <ng-container *ngFor = "let item of items">
                <div class="card" style="width: 25rem">
                    <img
                      class="noodles"
                      src="../../../../assets/images/items/Noodle.jpg"
                      alt="Noodles"
                      style="height: auto; width: 200px"
                    />
                    <div>Item No: {{item.no}}</div>
                    <div>Item Name: {{item.name}}</div>
                    <div>Item Cost: {{item.cost}}</div>
                    <div>Item Quantity: {{item.quantity}}</div>
                    <div >
                        <button class="incdecbtn" (click)="decrement(item._id)">-</button>  _{{getQuant(item._id)}}_<button class="incdecbtn" (click)="increment(item._id)">+</button>
                    </div>
                    Veg/NonVeg
                    <button id="{{item._id}}" class="addbtn" (click)="submitItem(item._id)" type="submit">ADD</button>
                    <br />
                    <br />
                  </div>
            </ng-container>
        </div>
        <div>
            <br /><br />
            <button class="checkoutbtn" (click)="submit()" type="submit">
              CHECKOUT BAG
            </button>
          </div>
    </div>
    
</div>


