<div class="form-style">
  <h1>Login to your Account</h1>
  <form [formGroup]="loginPayload" (ngSubmit)="onClickSubmit(loginPayload)">
    <label>
      Email ID:
      <input
        class="text-area"
        type="email"
        name="Email"
        placeholder="Email"
        formControlName="email"
      /> </label
    ><br /><br />
    <label>
      Password:
      <input
        class="text-area"
        type="password"
        name="Password"
        placeholder="Password"
        formControlName="password"
      />
    </label>
    <br /><br />
    <button type="submit">Login</button> <span>Don’t have an account</span>
    <a routerLink="/signUp">Sign In</a><br /><br />
    <div id="showErr" *ngIf="showErr" style="color: rgb(231, 161, 161);">please Enter all details before Login!</div>
    <span>Forget Password</span> <a routerLink="/forget">Click here</a>

  </form>
</div>
