.form-style {
  max-width: 40%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-image: url("../../../../assets/images/login/login.jpg");
  margin-left: 30%;
}
.form-style h1 {
  color: #fcfdfc;
  padding-left: 10px;
  text-align: center;
  text-shadow: 1px 1px red;
}
.form-style label {
  display: block;
  margin-bottom: 2px;
  padding-left: 10px;
  color: #f6fcf9;
  text-shadow: 1px 1px red;
}
.form-style button {
  cursor: pointer;
  color: #fdfdfd;
  font-size: large;
  font-weight: bold;
  background-color: red;
  border-radius: 10px;
  border: 0px;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 15%;
  padding-right: 15%;
  margin: 10px;
}
.form-style span {
  display: inline;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-bottom: 10px;
  color: #f4f7f6;
}
.form-style a {
  display: inline;
  margin-bottom: 5px;
  padding-left: 10px;
  color: #f7f8f8;
}
.text-area {
  line-height: 20px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 14px;
  outline: none;
  border-radius: 10px;
  border: 1px solid black;
}
.text-area:focus {
  border: red;
  box-shadow: 0 0 10px red;
}
